*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
ul{
	list-style-type: none;
}
header{
	background-color: #0020F4;
	height: 388px;
	padding-top: 40px;
}
nav a{
	color: #FFFFFF;
	size: 16px;
}
.article-image{
	max-width: 1195px;
	margin: auto;
	margin-top: -100px;
	opacity: 100%;