 /**{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}*/
a{
	text-decoration: none;
}
ul a{
	color: #FFFFFF;
	list-style-type: none;
}
header{
	background-color: #0020F4;
	height: 388px;
	padding-top: 40px;
}
nav,header a, ul,h4{
    display: inline-block;
    
}
.text{
	color: #FFFFFF;
}
section{
	max-width: 1195px;
	width: 90%;

	margin: auto;
	margin-top: -100px;
}
.article-image{
	width: 100%;
}
.important-taxt{
	padding: 18px 40px;
	color: #171717;
	background-color: #FFFFFF;
	border-radius: 28px;
}
.black-taxt{
	color: #171717;
	size: 16px;
}
p{
	color: #171717;
	size: 16px;
	max-width: 956px;
	width: 90%;

}
h4{
	padding: 18px 100px ;
	color: #FFFFFF;
	background-color: #0A22F4;
	border-radius: 28px;
}
div, p,h4{
	max-width: 1195px;
	width: 90%;

	margin: auto;
}
.map{
	max-width: 463px;
	width: 90%;

	margin: auto;

}
footer{
	background-color: #0020F4;
	width: 1920;
	height: 1080px;

}
footer,h2{
	color: #FFFFFF;
	size: 32px;

	margin: auto;
}
.letter{
	color: #FFFFFF;
	size: 16px;

}
footer a{
	padding: 25px 25px;
	color: #171717;
	background-color: #FFFFFF;
	border-radius: 50px;
}
footer,div{
	display: inline-block;
}
font-family: "ALK Tall Nusxuri", sans-serif;